<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.donky.core.messaging.rich.logic">

    <application android:allowBackup="true">

        <provider
            android:name="net.donky.core.messaging.rich.logic.database.RichMsgContentProvider"
            android:authorities="${applicationId}.donky.rich.provider"
            android:exported="false"/>

    </application>
</manifest>