<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.donky.core.messaging.push">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true">

        <service
            android:name="net.donky.core.messaging.push.logic.PushLogicIntentService"
            android:exported="false" />

    </application>

</manifest>
