<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.donky.core.messaging.rich.inbox.ui">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true">

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichInboxAndMessageActivityNoToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichInboxAndMessageActivityWithToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichMessageForInboxActivityWithToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichMessageForInboxActivityNoToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichMessageActivityNoToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

        <activity
            android:name="net.donky.core.messaging.rich.inbox.ui.components.RichMessageActivityWithToolbar"
            android:theme="@style/Theme.Donky.Messaging.DonkyActivity">
        </activity>

    </application>

</manifest>
